*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.titolo{
    text-align: center;
    padding-top: 150px;
}

.titoletto{
    padding-top: 150px;
    text-align: center;
    display: none;
}

#numeri{
position: absolute;
background-color: palevioletred;
height: 120px;
width: 800px;
font-size: 100px;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

.displaynone{
    display: none;
}

.display{
    display:block;
}